body{
    background-color: var(--light);
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    justify-content: center;
    overflow-x: hidden;
    @media (max-width: 1200px){
        gap: 10px;
    };
}
small{
    font-size: var(--small);
    color: var(--gray);
    font-family: var(--p-font);
}
p{
    font-size: var(--p);
    font-family: var(--p-font);
    color: var(--white);
}
h1{
    background: var(--grad);
    font-size: var(--h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    font-family: var(--h-font);
    @media(max-width: 600px){
        font-size: 8vw;
    }
}
h2{
    font-family: var(--h-font);
    font-size: var(--h2);
    color: var(--white);
}
h3{
    font-size: var(--h3);
    font-family: var(--sub-font);
    color: var(--white);
}
h4{
    font-size: var(--p);
    font-family: var(--sub-font);
    color: var(--white);
}
header{
    padding-right: var(--pads);
    padding-left: var(--pads);
     @media(max-width: 830px){
        gap: 10px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
nav{
    padding: 20px 40px 20px 40px;
    background-color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--m-radius);
     @media(max-width: 1000px){
        padding: 5px 10px 5px 10px;
    };
}
section{
    padding-right: var(--pads);
    padding-left: var(--pads);
     @media(max-width: 830px){
        gap: 10px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.logo{
    @media(max-width: 1000px){
        width: 80px;
    };
    @media(max-width: 500px){
        width: 40px;
    };
}
.navigation{
    display: flex;
    justify-content: center;
    gap: var(--nav-gap);
    @media(max-width: 1000px){
        gap: 10px;
    }
    @media(max-width: 400px){
        gap: 10px;
    }
}
nav a{
    font-size: var(--nav);
    color: var(--white);
    font-family: var(--sub-font);
}
nav a:is(.active){
    text-decoration-line: underline;
    text-decoration-color: var(--grad);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    @media(max-width: 500px){
        text-underline-offset: 1px;
    };
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 1200px){
        gap: 10px;
    }
}
.main-screen{
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    @media(max-width: 1400px){
        flex-direction: column;
        align-items: flex-start;
    };
    @media (max-width: 1200px){
        gap: 20px;
    }
     @media(max-width: 600px){
        gap: 5px;
    }
}
.main-screen-text-container{
    display: flex;
    flex-direction: column;
}
.main-screen-text-container p{
    font-style: italic;
}
.test-img1{
    width: 100%;
    height: 40vh;
    background: gray;
    @media(max-width: 860px){
        height: 20vw;
    }
}
.classic-btn{
    display: flex;
    position: relative;
    width: fit-content;
    gap: 5px;
    background: var(--btn-color);
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 30px;
    @media(max-width: 850px){
        padding: 5px 10px 5px 10px;
    };
     @media(max-width: 600px){
        padding: 2px 4px 2px 4px;
    }
}
.classic-btn img{
    width: 20px;
     @media(max-width: 850px){
        width: 10px;
    };
}
.classic-btn::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: 40px;
    border-radius: var(--s-radius);
    background: var(--grad);
    z-index: -1;
    padding: 32px;
    @media(max-width: 850px){
        padding: 15px;
    };
     @media(max-width: 600px){
        padding: 10px;
    }
}
.classic-btn p{
    font-family: var(--sub-font);
    font-size: var(--p);
    color: var(--white);
}
.main-devices-section{
    padding-top: 240px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(max-width: 830px){
        padding-top: 40px;
    }
}
.main-devices-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--purple);
    width: 100%;
    padding: 80px 65px 80px 65px;
    @media(max-width: 1400px){
        padding: 60px 40px 60px 40px;
    }
    @media(max-width: 830px){
        padding: 20px 0 20px 0;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        position: relative;
        overflow-x: scroll;
    }
}
.main-devices-section h2{
    padding-left: var(--pads);
    @media(max-width: 830px){
        padding-left: 20px;
    }
}
.main-devices-card{
    height: 30vw;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: var(--m-radius);
    width: fit-content;
    @media(max-width: 1400px){
        padding: 20px;
        height: 24vw;
    }
    @media(max-width: 400px){
        height: 40vw;
        padding: 20px;
    }
}
.test-img2{
    background-color: gray;
    width: 100%;
    height: 100%;
}
.main-events-section{
    padding-top: 240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(max-width: 830px){
        padding-top: 40px;
    }
}
.main-events-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 40px;
    @media (max-width: 1200px){
        gap: 10px;
    }
}
.main-events-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-events-text small{
    font-size: var(--p);
    color: var(--gray);
    font-family: var(--sub-font);
}
.test-img3{
    background: gray;
    width: 100%;
    height: 40vw;
}
.scroll-segment-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 6vw;
    height: 6vw;
    border-radius: var(--circle);
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    padding: 60px 100px 60px 100px;
    @media(max-width: 830px){
        padding: 30px 50px 30px 50px;
    }
    @media(max-width: 600px){
        padding: 10px 20px 10px 20px;
    }
}
.footer-blocks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.footer-blocks a{
    font-size: var(--small);
    color: var(--gray);
    font-family: var(--p-font);
}
